motionPlanning/build/
motionPlanning/devel/
motionPlanning/.catkin_workspace
simCodes/build/
simCodes/datafiles/
simCodes/plotFunc/
simCodes/runSim.asv
simCodes/simDER
DataProcessing/PlotFunc/createSIExp.m
.idea/
# DataProcessing/Joints
# DataProcessing/Simulations
# DataProcessing/Observations
